.form-inline.clearfix
    .nested-fields
        .field
            = f.input :step, input_html: { class: 'form-input form-control' }
            = link_to_remove_association 'remove step', f, class: 'form-button btn btn-default'