.col-md-6.col-sm-offset-4
    %h3 Search Results!!
.col-md-6.col-sm-offset-4
= will_paginate @results, renderer: BootstrapPagination::Rails
- @results.each_slice(3) do |result|
    .row
        - result.each do |rec|
            .col-md-4
                .recipe
                    .image_wrapper
                        = link_to rec do 
                            = image_tag rec.image.url(:medium)
                    %h2= link_to rec.title, rec


   