/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 :root{
	--mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText:black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgba(251, 249, 243, 0.8);

  --previewShadow: #f0ead6;

  --btnColor: #DB6161;
 }

 $red: #DB6161;

 @mixin box-shadow {	
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}
html, body{
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, strong{
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;

}
p, li, span, label, input, textarea{
  color: var(--mainText);
  font-family: 'Roboto Mono', monospace;
}
a{
  text-decoration: none;
  color: #17a2b8;
}

ul{
  list-style: none;
}

h1{ font-size: 56px;}
h2{ font-size: 36px;}
h3{ font-size: 28px;}
h4{ font-size: 24px;}
h5{ font-size: 20px;}
h6{ font-size: 16px;}

.nav{
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.main_content {
	width: 1200px;
  margin: 0 auto;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	@include box-shadow;
	background: white;
	font-weight: bold;
}

.navbar {
	grid-area: navbar;
  border-bottom: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
	margin-top: 5px;
	@include box-shadow;
	// border: none;
	.navbar-brand {
		text-transform: uppercase;
		letter-spacing: -1px;
		font-weight: bold;
		font-size: 25px;
		a {
			color: $red;
		}
	}
}

.navbar-left{
	margin: 0;
	margin-left: 15%;
  padding: 10px;
}

.navbar-nav a{
	color: var(--mainText);
}
.navbar-nav li{
	display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
.container{
	background-color: var(--secondaryColor);
  border-bottom: 0px solid var(--borderColor);
  overflow: auto;
}

.recipe {
	background: var(--mainColor);
	border-radius: 5px;
	margin-bottom: 40px;
	@include box-shadow;
	.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
	  -moz-transition: all .3s ease-out;
	  -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
	}
	h2 {
		padding: 15px 5%;
		margin: 0;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		a {
			color: $red;
		}
	}
}

#recipe_top {
  border: 1.5px solid #17a2b8;
  background-color: var(--previewBg);
  padding: 15px;
  
	margin-top: 15px;
	margin-bottom: 50px;
	
}

#recipe_info, #ingredients, #instructions{
	background: var(--secondaryColor);
	@include box-shadow;
	min-height: 360px;
	border-radius: 15px;
	padding: 2em 8%;
	
	
}

.recipe_image {
	max-width: 100%;
	display: block;
  object-fit: cover;
	border-radius: 5px;
	@include box-shadow;
}

#recipe_info {
	h1 {
		font-size: 36px;
		font-weight: normal;
		color: $red;
	}
	.description {
		color: var(--secondaryText);
		font-size: 20px;
	}
}

#ingredients, #instructions {
  justify-content: center;
  padding-bottom: 50px;
	margin-bottom: 50px;
	ul, ol {
		padding-left: 18px;
		li {
			padding: 1em 0;
			border-bottom: 1px solid var(--borderColor);
		}
	}
}
.badge {
	background-color: var(--mainColor);
	letter-spacing: -1px;
	text-transform: uppercase;
	font-weight: bold;
}
.form-inline {
	margin-top: 15px;
}
.form-input {
	width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
	font-size: 14px;
	
	// width: 65% !important;
	// float: left;
}
.form-button {
	width: 30% !important;
	color: #fff;
  border: none;
}
.add-button {
	margin-top: 25px;
}
.footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid var(--borderColor) ;
	color: $red;
}
footer a:hover{
	color: var(--themeDotBorder);

}
footer small{
	float:left;	
}
.footer-recipe{
	color: $red;
	font-size: medium;
}
footer ul{
	float: right;
	
	list-style: none;
}
footer ul li{
 float: left; 
 margin-left: 10px;
}

@media screen and (max-width:1200px){
  .main-container{
    width: 95%;
	}
}