%br/
= link_to "Add Category", new_category_path, class: "btn btn-lg btn-warning"       
.col-md-10.col-sm-offset-2
    %h2 Listing all categories
.col-md-8.col-sm-offset-4    
    = will_paginate @recipies, renderer: BootstrapPagination::Rails
- @categories.each_slice(3) do |category|
    .row
        - category.each do |cat|
            .col-md-4
                .recipe
                    .image_wrapper
                    %h2= link_to cat.name, cat


   