.container
  %footer.footer
    %small
      Copyright &amp;copy:
      %a{:href => "#"} Subash Khatri
    %nav
      %ul
        %li.nav-item
          = link_to "Recipes", recipes_path, class: 'footer-recipe'
